<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <div class="pull-right">
        <a href="/quotes">Dashboard</a>  |  <a href="/logout">Logout</a>
      </div>
      <div class="pull-left" style="font-size: 20px; font-weight: bold;">
        Posts by {{user.first_name}}: <br>
        Count: {{quotes.count}}
      </div>
      <div class="col-lg-4 pull-left rounded" style="border: 1px solid black; margin-top: 100px; padding: 10px; height: 500px; overflow: scroll;">

        {%for i in quotes%}
        <div class="" style="">
          <h1 style="font-size: 20px; font-weight: bold;">{{i.author}}</h1>
          <p class="lead" style="font-size: 15px; ">{{i.content}}</p>
        </div>
        {%endfor%}
      </div>

      </div>
    </div>

    <!-- /.container -->

    <!-- jQuery first, then Bootstrap JS. -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
